@tailwind base;
@tailwind components;
@tailwind utilities;


.side{
    height: 91vh;
    width: fit-content;
}

:host {
 
    ::ng-deep .btn{
        padding: .5rem;
      
        font-size: .9rem;
        width: 250px;
   }
}