<div class=" flex-col space-y-7 place-content-evenly h-100 mt-16" >
  
    <div class="h-8 flex justify-center "></div> 
 
    <div class="flex justify-center">
     <p-button label="Dashboard" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/dashboard"></p-button>
   </div>
   <div class="flex justify-center">
     <p-button label="+ Add Work" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/addwork"></p-button>
   </div>
   <div class="flex justify-center">
     <p-button label="+ Add Worker" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/adduser"></p-button>
   </div>
   <div class="flex justify-center">
     <p-button label="Works" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/works"></p-button>
   </div>
   <div class="flex justify-center">
     <p-button label="Worker Details" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/workerdetails"></p-button>
   </div>
   <div class="flex justify-center flex-col">
     <span class="sm:inline">
       <p-button label="Settings" [outlined]="true" [raised]="true" styleClass="btn" routerLink="/admin/settings"></p-button>
     </span>
   </div>
 </div>
 