@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    height: 550px;
    margin: 10px;
    width: 98%;
}

:host {

  ::ng-deep .input {
padding: 0px;
    font-size: .7rem;
    width: 200px;
    height: 2rem;
  }

  ::ng-deep .p-inputtext{
  padding: 5px;
  }

  ::ng-deeo .p-multiselect .p-multiselect-label{
    padding: 5px;
  }

   ::ng-deep .phoneinput {

     width: 100px;
     height: 2rem;
   }


  
input{

  width: 200px;
  height: 2rem;
  color: #4b5563;
}

label{
  font-size: 5;
}

h1{
   color: #4b5563;
}

}