
  <div class="main w-1/2 h-1/2 flex justify-center  items-center">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-start justify-center gap-y-2 p-6 rounded-lg shadow-lg">
        <div class=" w-full flex items-center justify-center mb-8">
          <h1 class="mb-5 text-xl font-bold mx-12">ENTER NEW WORKER DETAILS</h1>
        </div>

        <!-- <span class="p-float-label" styleClass="input"> -->
          <div class="flex  gap-3 mb-5">
            <label for="username"  class="font-semibold ">Username</label>
            <input
            class="border-2 b rounded-md"
            type="text"
            pInputText
            formControlName="name"
            required
            />
          </div>
        <!-- </span> -->
        <div class="flex align-items-center gap-3  mb-5">
          <label for="username"  class="font-semibold mr-8">Work</label>

        <p-multiSelect
          [options]="work"
          formControlName="selectedwork"
          optionLabel="name"
          placeholder="Select work"
          styleClass="input"
          required
          >
          
        </p-multiSelect>
      </div>
      <div class="flex align-items-center gap-1 mb-5">
          <label for="username" class="font-semibold mr-5">Gender</label>
        <p-dropdown
          formControlName="selectedgender"
          [options]="gender"
          optionLabel="name"
          placeholder="Select a gender"
          styleClass="input"
          required
        >
        
      </p-dropdown>
    </div>
        <div class="flex align-items-center gap-3 mb-5">
          <label for="username" class="font-semibold" class="font-semibold">Phone NO</label>

        <p-inputNumber
          inputId="integeronly"
          formControlName="phoneno"
          [useGrouping]="false"
          styleClass="phoneinput"
          placeholder="Enter Phone NO "
          required
        >
        </p-inputNumber>
      </div>

        <p-toast />

        <div class="w-full flex justify-center">
        <p-button
          pRipple
          [loading]="loading"
          type="submit"
          label="Submit"
          [raised]="true"
          [loading]="loading"
          icon=" pi pi-check"
          iconPos="right"
        >
        </p-button>
      </div>
      </div>
    </form>
  </div>

