
  <div class="main w-1/4 h-1/2 flex justify-center  items-center" style="background-color: #ecf2f6;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-start justify-center space-y-6 p-6 rounded-lg shadow-lg bg-white" >
        <div class="  flex items-center justify-center ">
          <h1 class=" text-2xl font-bold mx-10 font-mono">ENTER NEW WORKER DETAILS</h1>
        </div>

        <!-- <span class="p-float-label" styleClass="input"> -->
          <div class="flex w-full justify-between  ">
            <label for="username"  class=" text-xl font-mono">Username</label>
            <input
            class="border-2 b rounded-md"
            type="text"
            pInputText
            placeholder="Enter Name"
            formControlName="name"
            required
            />
          </div>
        <!-- </span> -->
        <div class="flex w-full justify-between ">
          <label for="username"  class="text-xl font-mono  ">Work</label>

        <p-multiSelect
          [options]="work"
          formControlName="selectedwork"
          optionLabel="name"
          placeholder="Select work"
          styleClass="input"
          required
          >
          
        </p-multiSelect>
      </div>
      <div class="flex w-full justify-between  ">
          <label for="username" class="text-xl font-mono ">Gender</label>
        <p-dropdown
          formControlName="selectedgender"
          [options]="gender"
          optionLabel="name"
          placeholder="Select a gender"
          styleClass="input"
          required
        >
        
      </p-dropdown>
    </div>
        <div class="flex w-full justify-between   ">
          <label for="username" class="text-xl font-mono" >Phone NO</label>

        <p-inputNumber
          inputId="integeronly"
          formControlName="phoneno"
          [useGrouping]="false"
          styleClass="phoneinput"
          placeholder="Enter Phone NO "
          required
        >
        </p-inputNumber>
      </div>

        <p-toast />

        <div class="w-full flex justify-center">
        <p-button
          pRipple
          [loading]="loading"
          type="submit"
          label="Submit"
          [raised]="true"
          [loading]="loading"
          icon=" pi pi-check"
          iconPos="right"
        >
        </p-button>
      </div>
      </div>
    </form>
  </div>

